@import './App.scss';

.aboutMe-container {
    height: 100vh;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr calc(300px + (400 - 300) * ((100vw - 1200px) / (1900 - 1200)));
    @include margins;
}

.aboutMe {
    line-height: calc(35px + (45 - 35) * ((100vw - 1200px) / (1900 - 1200)));
    text-align: justify;
    align-self: center;

    &__title {
        font-size: 3.4rem;
        margin-bottom: 2rem;
        font-family: $fontThree;
    }

    &__description {
        font-size: calc(13px + (23 - 13) * ((100vw - 1200px) / (1900 - 1200)));
        color: $gray;
        font-family: $fontFour;
    }
}

.cv {
    align-self: center;
    justify-self: end;
    margin-right: 5rem;
}

.button--cv {
    border-radius: 100rem;
    width: 20rem;
    height: 20rem;
    font-size: calc(14px + (20 - 14) * ((100vw - 762px) / (1900 - 762)));
}