@mixin margins {
    margin: 10rem 0;
}

@mixin navigationSize {
    width: calc(30px + (70 - 30) * ((100vw - 320px) / (1199 - 320)));
    height: calc(30px + (70 - 30) * ((100vw - 320px) / (1199 - 320)));
}