@import '../Base.scss';

.aboutMeMobile {
    display: flex;
    flex-direction: column;
    height: 85%;
    justify-content: space-between;
    width: 100%;
    max-width: 60rem;
    margin: 0 auto;

    @media screen and (min-width : 1024px) {
        max-width: 80rem;
    }

    @media (orientation: landscape) {
        max-width: 86.3%;
    }

    &__title {
        margin: 1rem 0;
        font-family: $fontThree;
        font-size: calc(18px + (26 - 18) * ((100vw - 320px) / (1199 - 320)));

        @media screen and (min-width : $bp-medium) and (max-width : $bp-large) {
            font-size: 3rem;
        }

        @media screen and (min-width : 1024px) {
            font-size: 4.5rem;
        }

        @media (orientation: landscape) {
            margin: 0 0 1rem 0;

            @media screen and (min-width : 560px) and (max-width : 1023px) {
                font-size: calc(15px + (20 - 15) * ((100vw - 560px) / (1024 - 560)));
            }
        }

    }

    &__description {
        text-align: justify;
        line-height: calc(19.2px + (40 - 19.2) * ((100vw - 320px) / (768 - 320)));
        color: $gray;
        font-family: $fontFour;
        font-size: calc(10.5px + (20 - 10.5) * ((100vw - 320px) / (768 - 320)));

        @media screen and (min-width : $bp-medium) and (max-width : $bp-large) {
            font-size: calc(25px + (40 - 25) * ((100vw - 768px) / (1199 - 768)));
            line-height: calc(35px + (60 - 35) * ((100vw - 768px) / (1199 - 768)));
            ;
        }

        @media (orientation: landscape) {
            line-height: 19.2px;
            font-size: calc(12px + (16.5 - 12) * ((100vw - 320px) / (768 - 320)));

            @media screen and (min-width : 560px) and (max-width : 667px) {
                font-size: calc(9px + (10 - 9) * ((100vw - 560px) / (667 - 560)));
            }

            @media screen and (min-width : 667px) and (max-width : 1023px) {
                font-size: calc(12px + (15 - 12) * ((100vw - 560px) / (1024 - 560)));
            }

            @media screen and (min-width : 653px) and (max-width: 654px),
            screen and (min-height: 270px) and (max-height: 280px) {
                font-size: 8.5px;
            }

            @media screen and (min-width : 720px) and (max-width : 730px),
            screen and (min-height: 540px) {
                font-size: 1.6rem;
                line-height: 2.5rem;
            }

            @media screen and (min-width: 768px) and (max-width: 1023px),
            screen and (min-height: 376px) and (max-height: 420px) {
                font-size: 1.5rem;
                line-height: 2rem;
            }

            @media screen and (min-width: 1024px) {
                font-size: 2.4rem;
                line-height: 3.5rem;
            }
        }
    }

    &__buttonContainer {
        text-align: center;
    }
}

.button--cvMobile {
    display: inline-block;
    margin-top: 1.3rem;
    width: 80%;
    font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (768 - 320)));

    @media screen and (min-width : $bp-medium) and (max-width : $bp-large) {
        font-size: 2.4rem;
        height: calc(65px + (70 - 65) * ((100vw - 768px) / (1199 - 768)));
    }

    @media screen and (min-width : 1024px) {
        font-size: 3.5rem;
    }

    @media (orientation: landscape) {

        @media screen and (min-width : 560px) and (max-width : 768px) {
            font-size: calc(15px + (20 - 15) * ((100vw - 560px) / (768 - 560)));
            height: 3rem;
            width: 50%;
            margin: 0rem 0 1rem 0;
        }

        @media screen and (min-width : 560px) and (max-width : 653px),
        screen and (min-height: 270px) {
            width: 40%;
            height: 2.5rem;
            font-size: 1.4rem;
        }

        @media screen and (min-width: 768px) and (max-width: 1023px),
        screen and (min-height: 375px) and (max-height: 420px) {
            height: 3rem;
            margin: 1rem 0 2rem 0;
        }

        @media screen and (min-width: 1024px) {
            height: 5rem;
            font-size: 3rem;
        }
    }
}