@import '../Base.scss';

.projectsMobile {
    display: grid;
    max-width: calc(300px + (600 - 300) * ((100vw - 320px) / (1199 - 320)));
    margin: 0 auto;

    height: 85%;

    @media screen and (min-width : $bp-medium) and (max-width : $bp-large) {
        max-width: calc(600px + (900 - 600) * ((100vw - 768px) / (1199 - 768)));
    }

    &__title {
        font-size: calc(18px + (26 - 18) * ((100vw - 320px) / (1199 - 320)));
        text-align: center;
        margin: 1rem 0;

        @media screen and (min-width : $bp-medium) and (max-width : $bp-large) {
            font-size: 3rem;
        }

        @media screen and (min-width : 1024px) {
            margin: 0 0 1rem 0;
            font-size: 4.5rem;
        }

    }

    &__projectsContainer {
        display: grid;
        justify-content: space-between;
        margin: 0 auto;

    }

    &__projectTitle {
        text-align: center;
        margin: 1rem 0;

        @media screen and (min-width : $bp-medium) and (max-width : $bp-large) {
            font-size: 2.8rem;
        }

    }

    &__imgContainer {
        margin-bottom: 2rem;
        height: calc(165px + (300 - 165) * ((100vw - 320px) / (1199 - 320)));

        @media screen and (min-width : $bp-medium) and (max-width : $bp-large) {
            height: auto;
        }
    }

    &__img {
        width: 100%;
        height: 100%;

        @media screen and (min-width : $bp-medium) {
            height: 40rem;
            max-width: 100%;
            max-height: 50rem;
        }

        @media screen and (min-width: 1024px) {
            height: 60rem;
        }

        @media (orientation: landscape) {
            @media screen and (min-width: 1024px) {
                height: 30rem;
            }
        }
    }

    &__arrowButtons-container {
        display: flex;
        width: 90%;
        justify-content: space-between;
        margin: 0 auto;
    }

    &__arrow-button {
        align-self: center;
        display: inline-block;
        font-size: 3rem;
        color: $orange;
        cursor: pointer;
        box-shadow: 0 0 0 3px white;
        border-radius: 5rem;

        @media screen and (min-width : $bp-medium) and (max-width : $bp-large) {
            font-size: calc(70px + (100 - 70) * ((100vw - 768px) / (1199 - 320)));
        }

        @media (orientation: landscape) {
            @media screen and (min-width: 1024px) {
                font-size: 5rem;
            }
        }
    }

    &__buttonContainer {
        width: 100%;
        align-self: end;
    }

    &__buttonGithub {
        margin-top: 1.5rem;
        font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1199 - 320)));

        @media screen and (min-width : $bp-medium) and (max-width : $bp-large) {
            font-size: 2.4rem;
            height: calc(65px + (70 - 65) * ((100vw - 768px) / (1199 - 768)));
        }

        @media screen and (min-width : 1024px) {
            font-size: 3.5rem;
        }

        @media (orientation: landscape) {
            @media screen and (min-width: 1024px) {
                height: 5rem;
                font-size: 3rem;
            }
        }

    }
}